*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.content_SpacesPlayer1, .content_SpacesPlayer2{
    display: grid;
    grid-template-columns: repeat(11, 25px);
    grid-template-rows: repeat(11, 25px);
    gap: 3px;
    background-color: #000000;
    width: min-content;
    border-radius: 3px;
    padding: 3px;
}

.drawer{
    background-color: red;
    width: 25px;
    height: 25px;
    border-radius: 3px;
}

.tittle-player{
    grid-column: 1/ 12;
    color:aliceblue;
    text-align: center;
}

.drawer:hover{
    background-color: blue;
}

.paint {
    background-color: aqua;
}